/* estilo para todo el documento*/
body{
background:#6A9AFB;
font-family: tahoma;
font-size: 11PX;
width: 1200px;
margin: auto;
}
/*Estilo para la Imagen de Arriba*/
	#logo {
		background: url(../Imagenes/cabecera.jpg) no-repeat right;
		margin: 0 auto 0 auto;
		background-size: 50%;
		padding: 20em 0em 0em 0em;
		text-transform: uppercase;
	}
/*Estilo para la etiqueta a incluida en h1*/
#logo h1 a{
	margin: 0em;
	padding: 0em 0em 0em 0em;
	letter-spacing: -.1em;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
}	

/* Estilo para el subtitulo BIENVENIDOS A NUESTRO SITIO WEB */
#subtitulo {
	padding: 0em;
	margin-top: -1em;
	font-size: 1.5em;
	color:#BDF2FF;
}
/* Estilo para los elementos de la lista del menu*/

#menu li {
	display: inline-block;
 }

 /*Estilo para la etiqueta del menu de opciones*/

 #menu a {
 	display: block;
 	float: left;
 	margin-right: 0.12em;
 	padding: 1em 1.5em;
 	background: #178EAE;
 	box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
 	text-decoration: none;
 	text-shadows:1px 1px 0px #0C749C;
 	text-transform: uppercase;
 	font-size: .90em;
 	color: #FFFFFF;

}
/*estilo para la seccion que muestra el contenidodel contenido */

#seccion {
	width: 1150px;
	padding: 20px 40px;
	background: #fff;
	height: 290px;
}
/* estilo para que la imagen se encuentre dentro de la seccion*/
#imagen{
	margin-top: 2em;
	width: 330px;
	height: 250px;
	text-align: center;
}
/*estilo del titulo dentro de la seccion*/
#subtitulo2 {
	font-family: tahoma, geneva, sans-serif;
	font-size: 25px;
	color: #039;

}

/*estilo para el texto del lado derecho*/
#ladoderecho {
	margin: -5px 20px 0px 0px;
	float: right;
	width: 65%;
	text-align: justify;
	color: #666;
}
/*estilo para el pie de pagina*/
#pie {
	text-align: center;
}

/*  estilo para todos los parrafos del documento*/
p {
	font-family: tahoma;
	font-size: 11pt;
}